html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #b5838d;
  font-family: Roboto, sans-serif;
  color: rgb(55, 55, 55);
  font-weight: 300;
  animation: fadeIn 1s ease-out;
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  @extend .flex, .flex-center;
}

.card {
  @extend .flex;
  align-items: center;
  flex-direction: column;
  background: #ffcdb2;
  width: 80%;
  max-width: 1000px;
  height: 60%;
  max-height: 600px; 
  box-shadow: 0 2px 3px rgb(82, 82, 82);
  border-radius: 5px;
  min-height: 300px;
}

.questions {
  height: 100%;
  flex: 1;
  @extend .flex, .flex-center;
  flex-direction: column;
}

.question {
  display: flex;
  flex-direction: row;
}

.roll-button {
  background: #e5989b;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease-out;
  font-size: 1rem;
  &:hover {
    background: #b5838d;
    color: white;
    cursor: pointer;
  }
}

#timer {
  @extend .flex, .flex-center;
}

.timer {
  margin-top: 10px;
  font-size: 2.5rem;
  text-align: center;
}

#q1, #q2, #q3 {
  text-align: center;
}